
.inherited-from{
    display: none;
}
tr:nth-child(2n) {
    background-color: var(--even-row-bg-color, #f8f8f8);
}
* {
    -webkit-font-smoothing: antialiased;
    font-family: var(--main-font, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace);
}
table caption.title{
    text-align: left;
    font-size: 24px;
    font-weight: 400;
}
table{
    width: 100%;
    margin-bottom:12px;
    margin-top:12px;
}
table.details caption.title{
    font-size: 14px;
}
wc-info-base{
    padding-left: 15px;
    padding-right: 15px;
    display:block;
}
[data-len="0"]{
    text-align: center;
}
.description-label{
    text-align:center;
}
table.narrow td{
    vertical-align: top;
}
table.narrow .description-label{
    text-decoration: underline;
}
if-diff[lazy-delay]{
    min-height:1000px;
    display:block;
}

